footer {
  min-height: 200px;
  background-color: #232323;
}

#dimensions {
  position: fixed;
  margin-top: 1vh;
  margin-left: 1vw;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.675);
  padding: 15px 30px;
  border-radius: 20px;
}
#dimensions p {
  color: white;
  font-family: "Segoe UI", sans-serif;
  font-size: max(1.5vw, 3vh);
}

@font-face {
  font-family: "Bebas Neue";
  src: url(./bebas-neue.woff2);
}
@font-face {
  font-family: "Montserrat";
  src: url(./montserrat.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-weight: normal;
  box-sizing: border-box;
}

main {
  background-color: #DDF3FF;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#s1 {
  height: 59vh;
  min-height: 330px;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.456) 100%), url("img/hero.jpg");
  background-size: cover;
  background-position: 0 50%;
  display: grid;
  place-items: center;
  color: white;
  font-size: 3rem;
}
section#s1 h1 {
  transform: translateY(50%);
  font-family: "Bebas Neue";
}

section#s2 {
  padding: 0 8%;
  padding-top: max(8vh, 60px);
}
section#s2 section {
  height: 55vh;
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: max(8vh, 60px);
}
section#s2 section .content-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
section#s2 section .content-wrapper > div {
  position: absolute;
  width: 105%;
  min-height: 85%;
  padding: 5% 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #00A3FF;
  color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.25);
}
section#s2 section .content-wrapper > div h2 {
  font-family: "Bebas Neue";
  font-size: 4.5rem;
}
section#s2 section .content-wrapper > div p {
  font-size: 1rem;
  margin-bottom: 3%;
}
section#s2 section img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section#s2 section * {
  border-radius: 10px;
}
section#s2 section.left .content-wrapper {
  justify-content: end;
}

section#s3 {
  height: 100vh;
  min-height: 750px;
  width: 100%;
  background: url(./img/lastbg.jpg) no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 10%;
  -moz-column-gap: 5%;
       column-gap: 5%;
  align-items: center;
}
section#s3 .experience-sign {
  background-color: rgba(0, 0, 0, 0.6666666667);
  border-radius: 10px;
  padding: 25px 50px;
}
section#s3 .experience-sign h2 {
  color: #FFF;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 64px;
}
section#s3 .experience-sign p {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  text-transform: uppercase;
}
section#s3 .booking {
  background-color: rgba(0, 0, 0, 0.6666666667);
  border-radius: 10px;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
}
section#s3 .booking h3 {
  color: #FFF;
  font-family: Bebas Neue;
  font-size: 36px;
  letter-spacing: 5.4px;
  margin-bottom: 18px;
}
section#s3 .booking button {
  color: #FFF;
  font-family: Bebas Neue;
  font-size: 32px;
  text-transform: uppercase;
  border-radius: 50px;
  background: #D2A48A;
  border: 0;
  padding: 8px 0;
  width: 70%;
  margin-top: 6px;
  align-self: center;
}
section#s3 .booking form label {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  text-align: left;
  margin-bottom: 6px;
}
section#s3 .booking form input {
  border-radius: 10px;
  background: #D9D9D9;
  border: 0;
  display: block;
  padding: 15px 20px;
  width: 100%;
  margin-bottom: 18px;
}
section#s3 .booking form input:focus {
  outline: 0;
}

@media screen and (max-width: 1000px) {
  section#s2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: initial;
    padding-top: 30px;
  }
  section#s2 section {
    height: initial;
    min-height: initial;
    grid-template-columns: initial;
    margin-bottom: initial;
    width: 90%;
    grid-template-rows: 2fr 3fr;
  }
  section#s2 section .content-wrapper {
    justify-self: center;
    display: flex;
    justify-content: center;
  }
  section#s2 section .content-wrapper > div {
    position: initial;
    min-height: initial;
    display: initial;
    height: 100%;
    padding: 20px;
    width: 90%;
    transform: translateY(-40px);
  }
  section#s2 section .content-wrapper > div h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 12px;
  }
  section#s2 section .content-wrapper > div p {
    margin-bottom: 8px;
  }
  section#s2 section img {
    width: 100%;
    height: 40vh;
  }
  section#s2 section.right img {
    grid-row: 1;
  }
  section#s2 section.left .content-wrapper {
    justify-content: center;
  }
  section#s3 {
    display: initial;
    height: initial;
    padding: 10px;
  }
  section#s3 .experience-sign {
    padding: 10px;
    margin-bottom: 30px;
  }
  section#s3 .experience-sign h2 {
    font-size: 48px;
  }
  section#s3 .booking {
    padding: 20px;
  }
}
/* .text-wrapper {
    // position: absolute;
    height: 90%;
    align-self: center;
    padding: 2% 3%;
    // font-size: max(1rem, 3vh);  
    width: 110%;          
    z-index: 1;
    background-color: #00A3FF;
    color: #fff;

    h2 {
        font-family: 'Bebas Neue';
    }
} */